<div class="accordion">
  <!-- <div ng-repeat="field in fields"> -->
    <h3><a href="#">New Field</h3></a>
    <div>
      <span>Name</span>
      <%= text_field :name, :class => "name-field" %>
      <br />
      <label>Type</label>
      <select>
        <option value="String">Text</option>
        <option value="Integer">Integer</option>
        <option value="Float">Float</option>
        <option value="Boolean">Yes/No</option>
        <option value="DateTime">Date and Time</option>
        <option value="Date">Date</option>
        <option value="Time">Time</option>
        <option value="HasOne">Related To</option>
        <option value="HasMany">Related To (Many)</option>
      </select>
      <br />
      <span>Required</span>
      <input type="checkbox" />
      <br />
      <a href="#">Remove</a>
    </div>
  <!-- </div> -->
</div>